$baseBlack: #172029;
$baseWhite: #fff;
$baseGray: #808080;
$baseBrand: #0073e6;
$baseBrandLight1: #99c7f5;
$baseBrandLight2: #e6f1fc;
$baseBrandLight3: #f2f6fa;
$baseOrange: #fabc22;
$baseGreen: #1e8b31;
$baseGreenLight: #6cce7c;