@import "src/styles/_colors";
@import "src/styles/_variables";

.main {
    flex: 1;
}

.gameContainer {
    margin: 0 auto;
    box-sizing: content-box;
    padding-top: 50px;
    padding-bottom: 25px;

    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {

    .gameContainer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}