@import "src/styles/_colors";
@import "src/styles/_variables";

.containerCommon {
    padding: 5px 32px;
    max-width: 1440px;
    min-width: 330px;
}

.main {
    flex: 1;
}

.gameContainer {
    margin: 0 auto;
    box-sizing: content-box;
    padding-top: 50px;
    padding-bottom: 25px;

    display: flex;
    justify-content: center;
}

.gameFlappyBird {
    width: max-content;
}

.cnv {
    border: 3px solid $baseOrange;
    box-shadow: $boxShadowContainer;
}

@media (max-width: 767px) {

    .containerCommon {
        padding: 5px 10px;
    }

    .gameContainer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}