@import "src/styles/_colors";
@import "src/styles/_variables";

.footer {
    position: sticky;
    top: 0;
    z-index: 1;
    background: $baseBrandLight3;
    box-shadow: 0px -8px 5px -5px $baseGray;

    display: flex;
    font-weight: 800;
}

.footerContainer {
    min-height: 38px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 35px;

    width: 100%;
}